@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

@font-face {
    font-family: comic-sans;
    src: url('/comic-sans');
}

body {
    font-family: Nunito, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
}

#login-content {
    text-align: center;
    margin-top: 20px;
}

.main {
    align-self: center;
}
#location-submit {
    width: 100%;
}

#location-input {
    display: flex;
}
.gform-btn {
    background-color: #6610f2 !important;
    color: white !important;
    margin: 5px;
}

#bottom-bar {
    list-style-type: none;
}

#bottom-bar li p {
    padding: 5px;
}

#en-route-ui {
    display: none;
    padding: 10px;
}
#previous-direction {
    display: none;
}

#direction-table {
    display: none;
    margin: 10px;
}
#direction-table img {
    max-width: 30px;
}
.fa-list-ul {
    cursor: pointer;
}
#current-icon {
    width: 80%;
    max-width: 150px;
    padding: 20px;
    position: absolute;
    top: 50%;
}
#current-map {
    max-width: 100%;
}
#map-container {
    max-width: vw - 20px;
    margin-top: 56px;
}
.main {
    margin-top: 60px;
}
#table-btn img {
    width: 40px;
    margin-bottom: 30px;
    margin-top: -5px;
}
#table-btn {
    padding: 0;
}
#table-btn-label{
    margin-top: 2px;
}

#location-input {
    padding: 0px 15px 15px 15px;
}
.header {
    z-index: 1000;
}
.ui .fixed-bottom {
    z-index: 10;
}
p#steps-id {
    text-align: center;
    font-size: 1.4em;
}
#bottom-bar div.container-fluid p {
    font-size: 1em;
    text-align: center;
}

#location-input label {
    font-size: 1.3em;
    padding: 5px;
}
#about-main {
    margin-top: 70px;
    font-size: 0.8em;
}
#about-main a {
    color: #6610f2;
}