#login-content {
    text-align: center;
    margin-top: 20px;
}

.main {
    align-self: center;
}
#location-submit {
    width: 100%;
}

#location-input {
    display: flex;
}

#bottom-bar {
    list-style-type: none;
}

#bottom-bar li p {
    padding: 5px;
}

#en-route-ui {
    display: none;
    padding: 10px;
}
#previous-direction {
    display: none;
}

#direction-table {
    display: none;
    margin: 10px;
}

.fa-list-ul {
    cursor: pointer;
}
#current-icon {
    width: 80%;
    max-width: 150px;
    padding: 20px;
}
#current-map {
    width: 100%;
}
.main {
    margin-top: 60px;
}
#table-btn img {
    width: 40px;
    margin-bottom: 30px;
    margin-top: -5px;
}
#table-btn {
    padding: 0;
}
#table-btn-label{
    margin-top: 2px;
}

#location-input {
    padding: 0px 15px 15px 15px;
}
.header {
    z-index: 1000;
}
.ui .fixed-bottom {
    z-index: 10;
}