#login-content {
    text-align: center;
    margin-top: 20px;
}

.main {
    align-self: center;
}
#location-submit {
    width: 100%;
}

#location-input {
    display: flex;
}

#bottom-bar {
    list-style-type: none;
}

#bottom-bar li p {
    padding: 5px;
}

#en-route-ui {
    display: none;
    padding: 10px;
}
#previous-direction {
    display: none;
}

#direction-table {
    display: none;
    margin: 10px;
}

.fa-list-ul {
    cursor: pointer;
}